@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewBag.Title = "AdminAuthorPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Detaylar</th>
        <th>Yorumlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.BlogId</td>
            <td>@x.BlogTitle</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.BlogDate.ToString("dd-MM-yyyy")</td>
            <td><a href="/Blog/BlogDetails/@x.BlogId" class="btn btn-success">Detaylar</a></td>
            <td><a href="/Blog/AdminGetByIdComment/@x.BlogId" class="btn btn-dark">Yorumlar</a></td>
        </tr>
    }
</table>

